<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" type="image/svg" href="/images/bupGO-icon.svg">
</head>
<body>
  <nav>
    <h1><a href="/">BU POLANGUI GUIDANCE OFFICE APPOINTMENT SYSTEM</a></h1>
    <ul>
      <li><a href="/logout">LOG OUT</a></li>
      <li><a href="/login">LOG IN</a></li>
      <li><a href="/signup">SIGN UP</a></li>
    </ul>
  </nav>