<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/appointment-details.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      APPOINTMENT DETAILS
    </h1>
    <% if (appointment) {%>
      <a href="/edit-appointment"><button class="btn-edit-appointment">EDIT APPOINTMENT</button></a>
    <% } else { %>
      <a href="/create-appointment"><button class="btn-create-appointment">CREATE APPOINTMENT</button></a>
    <% } %> 
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
