<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/create-appointment.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      CREATE APPOINTMENT
    </h1>

    <div class="appointment-selection">
      <div class="services">
        <h1>SELECT SERVICES</h1>
        <ul>
          <button class="counseling">Counseling</button>
          <button class="clearance-signing">Signing of Clearance</button>
          <button class="handbook">Student Handbook</button>
        </ul>
      </div>
      <div class="date">
        <h1>SELECT DATE & TIME</h1>
        <select class="selected-time">
          <option disabled selected value> SELECT TIME </option>
          <option>8AM - 9AM</option>
          <option>9AM - 10AM</option>
          <option>10AM - 11AM</option>
          <option>11AM - 12PM</option>
          <option>1PM - 2PM</option>
          <option>2PM-3PM</option>
        </select>

        <div class="selected-date"></div>
        <div id="calendar"></div>
      </div>
    </div>
    <div class="div-buttons">
      <% if (appointment) { %>
        <button class="btn-cancel" data-doc="<%= appointment._id %>">CANCEL APPOINTMENT</button>
      <% } %>
      <form action="/create-appointment" method="POST">
        <input class="input-date" name="appointmentDate" type="hidden">
        <input class="input-time" name="appointmentTime" type="hidden">
        <input class="input-services" name="services" type="hidden">
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
  <script>
    let date = null;
    document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        weekends: false,

        // validRange: {
        //   start: '2024-05-06',
        //   end: '2024-05-20'
        // },

        dateClick: (info) => {
          date = info.dateStr;
          let selectedDate = document.querySelector('.selected-date');
          selectedDate.textContent = 'Selected Date: ' + date;
          selectedDate.style.padding = '0.5rem 0';
          document.querySelector('.input-date').value = date;
        }
      })
      calendar.render()
    })

    const selectedTime = document.querySelector('.selected-time');
    selectedTime.addEventListener('change', () => {
      document.querySelector('.input-time').value = selectedTime.options[selectedTime.selectedIndex].text;
    })

    const buttons = document.querySelectorAll('.services > ul > button');
    let chosenServices =[];
    buttons.forEach((button) => {
      button.style.backgroundColor = 'gray';
      button.addEventListener('click', () => {
        if (button.style.backgroundColor === 'gray') {
          button.style.backgroundColor = '#008080';
          button.style.boxShadow = '1px 1px 3px 0 gray';
          chosenServices.push(button.className);
        }
        else {
          button.style.backgroundColor = 'gray';
          button.style.boxShadow = '';
          const index = chosenServices.indexOf(button.className);
          chosenServices.splice(index, 1);
        }
        document.querySelector('.input-services').value = JSON.stringify(chosenServices);
      })
    })

    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
      // prevent page from refreshing
      e.preventDefault();

      const services = form.services.value;
      const appointmentDate = form.appointmentDate.value;
      const appointmentTime = form.appointmentTime.value;

      try {
        const res = await fetch('/create-appointment', {
          method: "POST",
          body: JSON.stringify({ appointmentDate, appointmentTime, services }),
          headers: {'Content-Type': 'application/json'}
        });

        const data = await res.json();
        console.log(data);
        location.assign('/appointment-details');
      }
      catch(err) {
        console.error(err);
      }
    })

    try {
      const btnCancel = document.querySelector('.btn-cancel');
        btnCancel.addEventListener('click', async (e) => {
          const endpoint = await fetch(`/create-appointment/${btnCancel.dataset.doc}`, {
            method: 'DELETE'
          })

          const endpointResponse = await endpoint.json();
          location.assign(endpointResponse.redirect);
        })
    } catch (err) {
      console.error(err);
    }
  </script>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
