<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/create-appointment.css">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      })
      calendar.render()
    })
  </script>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      CREATE APPOINTMENT
    </h1>
    <div class="appointment-selection">
      <div class="services">
        <h1>SELECT SERVICES</h1>
        <ul>
          <button>Counseling</button>
          <button>Signing of Clearance</button>
          <button>Student Handbook</button>
        </ul>
      </div>
      <div class="date">
        <h1>SELECT DATE</h1>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
