<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      EDIT APPOINTMENT
    </h1> 
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
