<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      HOMEPAGE
    </h1>
    <% if (user) { %>
      <div class="div-btn">
        <% if (user.role === 'basic') { %>
          <a href="/appointment-details"><button class="btn-view-appointment">View Appointment</button></a>
        <% } else if (user.role === 'admin') { %>
          <a href="/admin-appointment-details"><button class="btn-view-appointment">View All Appointments</button></a>
        <% } %>
      </div>
    <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
