.appointment-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.services button {
  background-color: gray;
}

.services button:hover {
  opacity: 0.85;
}

.services > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  flex: 1;
  padding-top: 1rem;
}

.services {
  flex: 1;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}

option {
  background-color: white;
  color: rgb(0, 128, 128);
  text-align: center;
}

.selected-time:hover{
  cursor: pointer;
}

.selected-time {
  background-color: rgb(0, 128, 128);
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem;
  appearance: auto;
  margin-top: 0.5rem;
}

.date > h1,
.services > h1 {
  background-color: #2c3e50;
  color: white;
  border-radius: 1rem;
}

.selected-date {
  color: rgb(0, 128, 128);
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(216, 238, 238);
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
}

.fc-header-toolbar {
  gap: 0.5rem;
}

.services, 
.date {
  background-color: rgb(238, 211, 238);
  border-radius: 1rem;
  padding: 1rem;
}

.fc-daygrid-day-frame:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.fc-daygrid-day-frame {
  background-color: #546b81;
}

.fc-col-header-cell-cushion {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.fc-daygrid-day-number {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.fc-scroller {
  background-color: #2c3e50;
}

.fc-media-screen {
  min-width: 16rem;
}

.div-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-cancel {
  background-color: rgb(230, 32, 32);
}

form {
  display: flex;
  justify-content: end;
}