body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 0.98rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 3px 3px -3px gray;
  margin: 0 0.5rem;
  padding: 0.5rem;
  align-content: center;
}

a:hover, button:hover {
  cursor: pointer;
}

input {
  border-bottom: 1px solid gray;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8rem;
}

a {
  color: rgb(0, 140, 255);
  text-decoration: underline;
}

hr {
  border-top: 1px solid black;
}

button {
  background-color: #625AD8;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;  
  text-shadow: 1px 1px black;
  border-radius: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
}

.home-icon {
  max-width: 5rem;
  height: auto;
}

.content {
  padding: 1rem 1rem;
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: #625AD8;
  color: lightgray;
  text-align: center;
}